body {
    background-color: black;
    margin: 20%;
}


#title {
    text-align: center;
    text-shadow: 5px 5px 10px #6a6565;
    color: white;
    font-size: 7vh;
}


img {
    display: inline-block;
    width: 100%;
}


#caption {
    font-size: 17px;
    font-family: Gill Sans;
    color: white;
}


div#tribute-data {
    background-color: white;
    box-shadow: 20px 20px 20px #232423;
    font-family: Georgia;
    padding: 25px 25px;
    margin: 11px;
    margin-top: 50px;
}


h1.title-APJ {
    font-size: 35px;
    color: orange;
    text-align: center;
    text-shadow: 5px 5px 10px white;
}


#tribute-link {
    text-decoration: none;
    color: white;
}